<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Фильтр предупреждений DAVE (не критично до марта 2026) -->
    <logger name="net.dv8tion.jda.api.audio.dave" level="ERROR"/>
    
    <logger name="net.dv8tion.jda" level="INFO"/>
    <logger name="com.sedmelluq.discord.lavaplayer" level="INFO"/>
    <logger name="by.example.MusicBot" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
